@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}


body {
  font-family: 'Inter', sans-serif;
  background-color: rgba(244, 245, 247, 0.896);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulseBorderGreen {
  0%, 100% {
    box-shadow: 0 0 0 0 rgba(34, 197, 94, 0.7);
  }
  50% {
    box-shadow: 0 0 10px 5px rgba(34, 197, 94, 0);
  }
}

@keyframes pulseBorderRed {
  0%, 100% {
    box-shadow: 0 0 0 0 rgba(239, 68, 68, 0.7);
  }
  50% {
    box-shadow: 0 0 10px 5px rgba(239, 68, 68, 0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.6s ease forwards;
}

.animate-pulse-border-green {
  animation: pulseBorderGreen 2s ease-in-out infinite;
}

.animate-pulse-border-red {
  animation: pulseBorderRed 2s ease-in-out infinite;
}
